#choices {
  padding-left: 30px;
}

.col-md-4 img, h2, p {
  padding: 15px;
  width: 100%;
}

.col-md-4 p {
  display: none;
  text-align: center;
}

.col-md-3 {
  text-align: center;
}

.footer h2 {
  margin-top: 0px;
}

.jumbotron.footer {
  background-color: #696969;
}

.jumbotron.follow {
  display: none;
  background-color: #FF91DE;
  color: #474747;
  padding-bottom: 33px;
  text-align: center;
}

.jumbotron.contact {
  display: none;
  background-color: #E9D5B5;
  color: #474747;
  padding-bottom: 33px;
}

.jumbotron.find {
  display: none;
  background-color: #91FAFF;
  color: #474747;
  padding-bottom: 33px;
}

.jumbotron.byo {
  background-color: #6600A9;
  color: white;
  padding-bottom: 55px;
}

.jumbotron.classics {
  background-color: #F2FF5A;
  color: black;
  padding-bottom: 15px;
}

.jumbotron {
  margin-top: 33px;
  padding-top: 33px;
  padding-bottom: 10px;
  background-color: #2E2E2E;
  color: white;
}

.jumbotron hr {
  border-top: 2px solid #474747;
}

form#contact {
  width: 70%;
}

p.thankyou {
  display: none;
  color: red;
}

h2 {
  font-weight: bold;
}

a {
  color: red;
}

a:hover {
  color: white;
  text-decoration: none;
}

body {
  background: url("../imgs/baozi-bg.jpg") repeat-y;
}
