#classics img {
  padding: 15px;
  width: 33%;
}

#classics .text {
  visibility: hidden;
  width: 33%;
  float: left;
  text-align: center;
}

#classics:hover .text {
  visibility: visible;
}

.jumbotron.classics {
  background-color: #F2FF5A;
  color: black;
  padding-bottom: 33px;
}

.jumbotron {
  margin-top: 33px;
  padding-top: 33px;
  padding-bottom: 15px;
  background-color: #2E2E2E;
  color: white;
}
